<section class="home_partials_herobuttons_view" data-view="home/partials/herobuttons" data-subid="">
    <header class="heroButtonsHeader">


        <section class="banner-area" style="
    padding-left: 20px;">

            <div class="col-lg-6 mt-30">
                <div class="banner-content text-center">
                    <h3 class="text-uppercase"><b>¡Tu producto ha sido publicado!</b></h3>
                    <br>
                    <h5 class="text-uppercase">Cuando un interesado quiera tu producto serás notificado</h5>
                    <br>
                    <img class="category-image" src="../../../assets/images/ok.png">
                    <!--CAMBIAR ESTA PINCHILA DE GIF POR OTRO MAS COPADO-->
                    <br>
                    <p class="text-uppercase"> Se ha enviado un correo electronico con la informacion de tu publicación
                    </p>
                    <br>
                    <a class="primary-btn banner-btn"  routerLink="/home">Volver al inicio</a>
                    
                        
                   



                </div>
            </div>

        </section>
    </header>
</section>