.toolbar-div-lt-md {
    width: 80px;
    font-size: 6px !important;
}

.tab-lt-md {
    width: 300px;
    height: 500px;
    padding-top: 10px;
    text-align: center;
}

.tab-gt-md {
    width: 800px;
    height: 500px;
    padding-left: 35px;
    padding-top: 10px
}