<div fxFlex fxLayout="row">
    <div fxLayout fxFlexOrder="1">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <a [routerLink]="['/perfil']">
                    <mat-icon>account_circle</mat-icon><span class="iconitos">Mi Perfil</span>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <a [routerLink]="['/home']">
                    <mat-icon>book</mat-icon><span class="iconitos">Mis Publicaciones</span>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <a [routerLink]="['/home']">
                    <mat-icon>assignment</mat-icon> <span class="iconitos">Mis Alquileres</span>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <a [routerLink]="['/home']">
                    <mat-icon>exit_to_app</mat-icon><span class="iconitos">Salir</span>
                </a>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div fxLayout="column" style="width:100%" fxFlexOrder="2" fxLayoutAlign="center start">
        <div style="width: 800px; height: 500px; padding-left: 35px; padding-top: 10px">
            <h3>Datos de tu cuenta</h3>
            <hr>
            <br>
            <form #udpdateForm="ngForm">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="iconitos">person_pin</mat-icon>
                            Datos Personales
                        </ng-template>
                        <br>
                        <mat-form-field>
                            <input [value]="nombreUsuario" [(ngModel)]="user.name" name="name" matInput
                                placeholder="Nombre Usuario" disabled="true">
                        </mat-form-field>

                        <mat-form-field>
                            <input [value]="nombre" [(ngModel)]="user.nombre" name="nombre" matInput
                                placeholder="Nombre">
                        </mat-form-field>

                        <mat-form-field>
                            <input [value]="apellido" [(ngModel)]="user.apellido" name="apellido" matInput
                                placeholder="Apellido">
                        </mat-form-field>

                        <mat-form-field>
                            <input [value]="email" [(ngModel)]="user.email" name="email" matInput placeholder="Email"
                                email disabled="true">
                        </mat-form-field>

                        <mat-form-field>
                            <input type="number" [value]="telefono" [(ngModel)]="user.telefono" name="telefono" matInput
                                placeholder="Telefono">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Fecha de nacimiento" [matDatepicker]="picker" [max]="maxDate"
                                ngModel [(ngModel)]="user.fecha_nacimiento" name="date" disabled [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <!-- <mat-datepicker fxHide.lt-md="true" #picker disabled="false"></mat-datepicker> -->
                            <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
                            <mat-hint>Debes ser mayor de 18 años</mat-hint>
                        </mat-form-field>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="iconitos">home</mat-icon>
                            Datos de Dirección
                        </ng-template>
                        <br>

                        <mat-form-field>
                            <mat-select placeholder="Provincia" [value]="provincia"
                                (selectionChange)="onSelectionChanged($event)" [(ngModel)]="user.provincia"
                                name="provincia">
                                <mat-option *ngFor="let provincia of datosProvincias" [value]="provincia.value">
                                    {{provincia.viewValue}} </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select placeholder="Ciudad" [value]="ciudad" [(ngModel)]="user.ciudad" name="ciudad">
                                <mat-option *ngFor="let ciudad of ciudadesFiltradas" [value]="ciudad.value">
                                    {{ciudad.viewValue}} </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Direccion" [value]="direccion" [(ngModel)]="user.direccion"
                                name="direccion">
                        </mat-form-field>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </div>
    </div>

    <div fxLayout="column" style="width:100%" fxFlexOrder="3" fxLayoutAlign="end start">
        <div style="padding-left: 35px; padding-bottom: 15px">
            <button (click)="onSubmit()" mat-raised-button color="primary">Guardar datos</button>
        </div>
    </div>
</div>