<section fxLayout="row" class="container-general" fxFlexFill>
    <!-- Sección de filtros -->
    <section fxFlex="28%">
        <div class="chips">
            <!-- Sección de Chips -->
            <mat-chip-list #chipList>
                <mat-chip color="primary">
                    Categoría : {{categoria}}
                </mat-chip>
            </mat-chip-list>

            <mat-chip-list #chipList>
                <mat-chip color="primary" *ngFor="let filtro of arrayFiltrosSeleccionados" [selectable]="selectable"
                    [removable]="removable">
                    {{filtro.nombre}} : {{filtro.valor}}
                    <mat-icon matChipRemove (click)="eliminarFiltro(filtro)">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="15px"
            class="mat-elevation-z8 contenedor-filtros">

            <div *ngIf="!filtroSubcategoria" class="filtros" fxLayout="column" fxLayoutAlign="center start"
                fxLayoutGap="15px">
                <p style="font-size: 16px;"><b>Subcategoria</b></p>
                <a style="color: black;" *ngFor="let sub of arraySubcategorias" (click)="filtroSeleccionado('s',sub)">
                    {{sub}}
                </a>
            </div>

            <div *ngIf="!filtroPrecioDia" class="filtros">
                <p style="font-size: 16px;"> <b>Precio por día</b></p>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-slider #slider class="slider" [displayWith]="formatoSlider" color="primary"
                        [max]="sliderMax.value" [min]="sliderMin.value" thumbLabel="true">
                    </mat-slider>
                    <mat-hint> ${{slider.value}} </mat-hint>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                    <mat-form-field>
                        <span matPrefix>$ &nbsp;</span>
                        <input soloNumerosDirective maxlength="8" style="width: 70px;" matInput #sliderMin
                            placeholder="Desde" value="0">
                    </mat-form-field>
                    <mat-form-field>
                        <span matPrefix>$ &nbsp;</span>
                        <input soloNumerosDirective maxlength="8" style="width: 70px;" matInput #sliderMax
                            placeholder="Hasta" value="100">
                    </mat-form-field>
                    <button mat-icon-button color="primary" (click)="filtroSeleccionado('precio',slider.value)">
                        <mat-icon>check_box</mat-icon>
                    </button>
                </div>

            </div>

            <div *ngIf="!filtroEstrellas" class="filtros">
                <p style="font-size: 16px;"><b>Puntuación del propietario</b></p>
                <mat-star-rating [rating]="rating" [starCount]="starCount" [color]="starColorP"
                    (ratingUpdated)="onRatingChanged($event)"></mat-star-rating>
            </div>
        </div>
    </section>

    <!-- Sección de publicaciones -->
    <section fxFlex="72%" class="mat-elevation-z8 contenedor-publicaciones">
        <div>
            <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let row" style="height: 100%; line-height: 38px">
                        <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 10px;">
                            <div *ngIf="!hayPublicaciones">
                                {{mensaje}}
                            </div>
                            <div>
                                <img class="container-muestra-imagenes"
                                    src="{{'http://localhost:4201/api/get-image-publicacion/'+ row.multiplefile}}">
                            </div>
                            <div>
                                <h3 routerLink="/publicaciones/{{row._id}}">{{row.titulo}} </h3>
                                <p> <b> Precio por día </b>: ${{row.preciodia}} </p>
                                <p> <b> Categoría </b>: {{row.categoria}}</p>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5"
                [pageSizeOptions]="[1,5,10,15,20,25,50]">
            </mat-paginator>
        </div>
    </section>
</section>