<div fxLayout fxLayoutAlign="center center">
    <h3>Seleccioná la opcion para destacar tu producto</h3>
    <br>
    <br>
    <br>
</div>
<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="tamaño-card">
        <mat-card-header>
            <div mat-card-avatar class="plata" ></div>
            
            <mat-card-title>Destacacion PLATINIUM</mat-card-title>
            <br>
            <br>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Con tu cuenta <b>PLATINIUM</b> podras tener tu publicacion una semana destacada, lo que permitira que aparezca
                en las primeras
                posiciones en las busquedas.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout fxLayoutAlign="center center">
                <button mat-fab color="primary">ELEGIR</button>
            </div>
        </mat-card-actions>
    </mat-card>
    <mat-card class="tamaño-card">
        <mat-card-header>
            <div mat-card-avatar class="oro"></div>
            <mat-card-title>Destacacion GOLD</mat-card-title>
            <br>
            <br>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Con tu cuenta <b>GOLD</b> podras tener tu publicacion una mes destacada, lo que permitira que aparezca
                en las primeras
                posiciones en las busquedas.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout fxLayoutAlign="center center">
                <button mat-fab color="primary">ELEGIR</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>