<div fxLayoutAlign="center center" style="margin-top: 15px;">
    <h2>Estas a punto de alquilar "{{titulo}}" !</h2>
</div>

<div fxLayoutAlign="center center" fxLayout="row" class="datosAlquiler">
    <div fxFlex="600" fxFlexFill>
        <div fxLayout="column">
            <div style="top: 0">
                <p>
                    Lorem Ipsum is simply dummy <b>ACA VA ALTO CHAMUYO </b>text of the printing and typesetting
                    industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                    a
                    galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>

            <div class="contenedor">
                <swiper [config]="config">
                    <div *ngFor="let img of publicacion.multiplefile; let indice2 = index">
                        <img class="container-muestra-imagenes"
                            src="{{urlApi + 'api/get-image-publicacion/'+ publicacion.multiplefile[indice2]}}">
                    </div>
                </swiper>
            </div>
        </div>

    </div>
    <div fxFlex="780,400" fxFlexFill>
        <h5><b>El dueño de tu producto</b></h5>
        <h5>Nombre y Apellido: {{nombre}}</h5>
        <h5>Email: {{email}}</h5>
        <h5>Teléfono: {{telefono}}</h5>
        <br>
        <mat-divider></mat-divider>
        <br>
        <h5><b>El producto que vas alquilar</b></h5>
        <h5>Titulo: {{titulo}}</h5>
        <h5>Precio por dia: {{preciodia}}</h5>
        <h5>Precio por semana: {{preciosemana}}</h5>
        <h5>Precio por mes: {{preciomes}}</h5>
        <br>
        <br>
        <button  [routerLink]="['/confirmacion-Alquiler']" style="width: 300px;" mat-raised-button color="primary">Continuar con el pago</button>
    </div>
</div>