<div fxLayout="column" fxFlexOrder="2" fxLayoutAlign="center center" fxLayout.lt-lg="column" fxFlexFill
    fxLayoutAlign.lt-lg="center center">
    <div class="contenedorDeDatos" ngClass.gt-md="tab-gt-md" ngClass.lt-lg="tab-lt-md">
        <h2 style="text-align: center;">¡Realiza tu reclamo!</h2>
        <hr>
        <br>
        <form>
            <!-- #udpdateForm="ngForm" -->
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="iconitos">close</mat-icon>
                        Datos de tu reclamo
                    </ng-template>
                    <br>

                    <mat-form-field>
                        <mat-select placeholder="Tipo de reclamo" [value]="motivoCancelacionActual">
                            <mat-option *ngFor="let motivoCancelacion of datosCancelacion"></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Fecha" [matDatepicker]="picker" [max]="hoy">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <textarea matInput style="font-size: 20px" placeholder="Exprese sus motivos de reclamo."
                            cdkTextareaAutosize required></textarea>
                    </mat-form-field>


                </mat-tab>

            </mat-tab-group>
        </form>
    </div>
    <div fxLayout="row" fxFlexOrder="3" style="width:100%" fxLayoutAlign="center start" fxShow.lt-lg="true"
        fxHide.gt-md="true">
        <div style="padding-bottom: 15px; padding-top: 10px;">
            <button (click)="onSubmit()" mat-raised-button color="primary">Cancelar alquiler</button>
        </div>
    </div>
</div>