.mat-expansion-panel-header-title{
    flex-grow: 0;
    width: 150px;
}

.previsualizacion-icon{
    width: 250px;
    height: 250px;
    border: 1px solid;
    border-radius: 140px;
    text-align: center;
    font-size: 250px;
}

.muestraImagen{
    width: 250px;
    height: 250px;
    border: 5px solid black;
}

.posicionImagen{
    margin-top: 15px;
}

.contenedor-imagenes{
    width: 970px;
}