<section fxLayout="column" fxLayoutAlign="center center">
    <mat-horizontal-stepper #stepper>
        <!--CATEGORIAS PRODUCTO-->
        <mat-step [stepControl]="primerFormGroup" errorMessage="Elige una categoria para tu producto">
            <form [formGroup]="primerFormGroup">
                <ng-template matStepLabel>Selecciona la categoria de tu producto</ng-template>
                <mat-accordion>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Hogar
                            </mat-panel-title>
                            <mat-panel-description>
                                Articulos para el hogar.
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let shoe of hogarArray">
                            <mat-selection-list #shoes formControlName="primerCtrl" fxFlexOffset="20px">
                                <mat-radio-button color="primary">
                                    {{shoe}}
                                </mat-radio-button>
                            </mat-selection-list>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Música
                            </mat-panel-title>
                            <mat-panel-description>
                                Instrumentos musicales, parlantes, microfonos, otros.
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let shoe of musicaArray">
                            <mat-selection-list #shoes formControlName="primerCtrl" fxFlexOffset="20px">
                                <mat-radio-button color="primary">
                                    {{shoe}}
                                </mat-radio-button>
                            </mat-selection-list>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Tecnologia
                            </mat-panel-title>
                            <mat-panel-description>
                                Computación, electrónica, accesorios, otros.
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let shoe of electronicaArray">
                            <mat-selection-list #shoes formControlName="primerCtrl" fxFlexOffset="20px">
                                <mat-radio-button color="primary">
                                    {{shoe}}
                                </mat-radio-button>
                            </mat-selection-list>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Mascotas
                            </mat-panel-title>
                            <mat-panel-description>
                                Accesorios, ropa, otros.
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let shoe of animalesArray">
                            <mat-selection-list #shoes formControlName="primerCtrl" fxFlexOffset="20px">
                                <mat-radio-button color="primary">
                                    {{shoe}}
                                </mat-radio-button>
                            </mat-selection-list>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Deporte
                            </mat-panel-title>
                            <mat-panel-description>
                                Accesorios, indumentaria, otros.
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let shoe of deportesArray">
                            <mat-selection-list #shoes formControlName="primerCtrl" fxFlexOffset="20px">
                                <mat-radio-button color="primary">
                                    {{shoe}}
                                </mat-radio-button>
                            </mat-selection-list>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Belleza
                            </mat-panel-title>
                            <mat-panel-description>
                                Elementos, cosas para el crack, otros
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let shoe of bellezaArray">
                            <mat-selection-list #shoes formControlName="primerCtrl" fxFlexOffset="20px">
                                <mat-radio-button color="primary">
                                    {{shoe}}
                                </mat-radio-button>
                            </mat-selection-list>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Bebés
                            </mat-panel-title>
                            <mat-panel-description>
                                Elementos, cosas para el crack, otros
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let shoe of bebesArray">
                            <mat-selection-list #shoes formControlName="primerCtrl" fxFlexOffset="20px">
                                <mat-radio-button color="primary">
                                    {{shoe}}
                                </mat-radio-button>
                            </mat-selection-list>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <br>

                <div fxLayout="row" fxLayoutAlign="end" fxFlexFill>

                    <button mat-raised-button matStepperNext color="primary">Siguiente</button>
                </div>
            </form>
        </mat-step>
        <!--DATOS DEL PRODUCTO-->
        <mat-step [stepControl]="segundoFormGroup" errorMessage="Los datos de tu productos son necesarios.">
            <form [formGroup]="segundoFormGroup">
                <ng-template matStepLabel>Añade los datos de tu producto</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Titulo de la Publicación" formControlName="segundoCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Descrpción del producto" cdkTextareaAutosize
                        formControlName="segundoCtrl" required></textarea>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="precio por dia de alquiler" formControlName="segundoCtrl"
                        required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="precio por semana de alquiler"
                        formControlName="segundoCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="precio por mes de alquiler" formControlName="segundoCtrl"
                        required>
                </mat-form-field>

                <div fxLayout="row" fxFlexFill>
                    <div fxFlex>
                        <button mat-raised-button matStepperPrevious color="primary">Vovler</button>
                    </div>
                    <div fxLayoutAlign="end" fxFlex>
                        <button mat-raised-button matStepperNext color="primary">Siguiente</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <!--AGREGAR FOTO DEL PRODUCTO-->
        <mat-step [stepControl]="tercerFormGroup" errorMessage="La foto de tu producto es necesaria.">
            <form [formGroup]="tercerFormGroup">
                <ng-template matStepLabel>Agrega foto de tu producto</ng-template>

                <div fxLayout="column">
                    <div fxFlexFill>
                        <h3>Imagenes de tu producto</h3>
                        <br>
                        <mat-form-field>
                            <ngx-mat-file-input type="file" #removableInput formControlName="multiplefile" multiple
                                placeholder="Subir imagen" [accept]="'.png, .jpg, .jpeg, .gif'">
                            </ngx-mat-file-input>
                            <button mat-icon-button matSuffix *ngIf="!removableInput.empty"
                                (click)="removableInput.clear($event)">
                                <mat-icon>clear</mat-icon>
                            </button>
                            <mat-icon matSuffix>image_search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="80px">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">

                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxFlexFill>
                    <div fxFlex>
                        <button mat-raised-button matStepperPrevious color="primary">Vovler</button>
                    </div>
                    <div fxLayoutAlign="end" fxFlex>
                        <button mat-raised-button matStepperNext color="primary">Siguiente</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <!--PUBLICACION/RESUMEN DEL PRODUCTO-->
        <mat-step>
            <ng-template matStepLabel>Publica</ng-template>
            <h2>Tu producto esta listo para ser publicado</h2>
            <br>
            <h4>Resumen de tu publicacion</h4>
            <div>
                <form [formGroup]="joinGroup">
                    <mat-form-field>
                        <input formControlName="titulo" name="titulo" matInput placeholder="Titulo">
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="descripcion" name="descripcion" matInput placeholder="Descripcion">
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="categoria" name="categoria" matInput placeholder="Categoria">
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="subCategoria" name="suBcategoria" matInput placeholder="Sub Categoria">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutGap="40px" >
                        <mat-form-field>
                            <span matPrefix>$ &nbsp;</span>
                            <input type="number" matInput placeholder="Precio por dia">
                        </mat-form-field>
                        <mat-form-field>
                            <span matPrefix>$ &nbsp;</span>
                            <input type="number" matInput placeholder="Precio por semana">
                        </mat-form-field>
                        <mat-form-field>
                            <span matPrefix>$ &nbsp;</span>
                            <input type="number" matInput placeholder="Precio por mes">
                        </mat-form-field>
                    </div>    
                    <br>
                    <h5>Imagenes</h5>
                    <mat-divider></mat-divider>
                    <br>
                    <br>
                </form>



            </div>

            <div fxLayout="row" fxFlexFill>
                <div fxFlex>
                    <button mat-raised-button color="primary" matStepperPrevious>Volver</button>
                </div>
                <div fxLayoutAlign="end" fxFlex>
                    <button mat-raised-button color="accent" (click)="stepper.reset()"
                        style="margin-right: 10px;">Resetear Datos</button>
                    <button mat-raised-button color="primary">Pública</button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</section>