 <section class="home_partials_herobuttons_view" data-view="home/partials/herobuttons" data-subid="">
    <header class="heroButtonsHeader">


    <section class="banner-area" style="
    padding-left: 20px;">
        
                <div class="col-lg-6 mt-30">
                    <div class="banner-content text-center">    
                        <h2 class="text-uppercase text-white">Confirma tu correo electrónico</h2>
                        <p class="text-uppercase text-white">¡Estás a sólo un paso de activar tu cuenta en One Use!</p>
                        <p class="text-uppercase text-white">Con nuestra plataforma podrás: </p>
                        <ul> 
                                <li >Publicar tu objeto para alquilar.</li>
                                <li >Realizar búsqueda de objetos que desees alquilar.</li>
                                <li style="padding-left: 458px; text-align:left ">Establecer contacto con la persona interesa en alquilar tu objeto.</li>
                                <li style="padding-left: 458px; text-align:left ">Puntuar usuarios.</li>
                            </ul>
                            
                        <a class="primary-btn banner-btn" (click)="confirmar()">Confirmar mi cuenta</a>
                        <small class="text-uppercase text-white"> <br> En caso de que el botón no funcione, 
                             simplemente copia y pega el siguiente enlace en tu navegador.  </small>

                    </div>
                </div>
           
    </section>
</header>
</section>

