
<section class="home_partials_herobuttons_view" data-view="home/partials/herobuttons" data-subid=""><header class="heroButtonsHeader">
    <h3>Categorías</h3>
</header>
<div class="heroButtonsContent">
    
        <a class="category" data-category-l1="362" data-hero-buttons="" href="" rel="nofollow" style="opacity: 1;">
            <!-- <img class="category-image" src="../../../assets/images/electronica.jpg"> -->
            <img class="category-image" src="../../../assets/images/electronica.jpg">
            <!--<div class="avatar" style="background-image: url(../../../assets/images/electronica.jpg)"></div>--> 
            <div class="category-name-container">
                <div class="category-selected" style="top: 100%;"></div>
                <span class="category-name">Electrónica</span>
            </div>
            <span class="category-description" style="opacity: 1;"> <br> </span>
        </a>
    
        <a class="category" data-category-l1="16" data-hero-buttons="" href="//www.olx.com.ar/nf/landings/re?from=hero_buttons" rel="nofollow" style="opacity: 1;">
            <img class="category-image" src="../../../assets/images/musica.jpg">
            <div class="category-name-container">
                <div class="category-selected" style="top: 100%;"></div>
                <span class="category-name">Música</span>
            </div>
            <span class="category-description" style="opacity: 1;"> <br> </span>
        </a>
    
        <a class="category" data-category-l1="800" data-hero-buttons="" href="//www.olx.com.ar/electronica-cat-800?from=hero_buttons" rel="nofollow" style="opacity: 1;">
            <img class="category-image" src="../../../assets/images/deportes.jpg">
            <div class="category-name-container">
                <div class="category-selected" style="top: 100%;"></div>
                <span class="category-name">Deporte</span>
            </div>
            <span class="category-description" style="opacity: 1;"><br> </span>
        </a>
    
        <a class="category" data-category-l1="830" data-hero-buttons="" href="//www.olx.com.ar/telefonos-tablets-cat-830?from=hero_buttons" rel="nofollow" style="opacity: 1;">
            <img class="category-image" src="../../../assets/images/hogar.jpg">
            <div class="category-name-container">
                <div class="category-selected"></div>
                <span class="category-name">Artículos del hogar</span>
            </div>
            <span class="category-description"> <br> </span>
        </a>
        <a class="category" data-category-l1="83" data-hero-buttons="" href="//www.olx.com.ar/telefonos-tablets-cat-830?from=hero_buttons" rel="nofollow" style="opacity: 1;">
            <img class="category-image" src="../../../assets/images/otros.jpg">
            <div class="category-name-container">
                <div class="category-selected"></div>
                <span class="category-name">Otros</span>
            </div>
            <span class="category-description"> <br> </span>
        </a>
        
    
</div></section>
