
<section id="services" class=" section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class=" text-uppercase"></p>
                    <h2 class=" h1">Categorías <br> principales</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-home"></span>
                    </div>
                    <div class="desc">
                        <h4>Hogar</h4>
                        <p 
                       style="height: 48px;"
                    >Artículos para el hogar</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-music-note"></span>
                    </div>
                    <div class="desc">
                        <h4>Música</h4>
                        <p style="height: 48px;">Instrumentos musicales, parlantes, micrófonos, otros</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-shirt"></span>
                    </div>
                    <div class="desc">
                        <h4>Moda</h4>
                        <p style="height: 48px;">Indumentaria, Belleza y Cuidado Personal  </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-book"></span>
                    </div>
                    <div class="desc">
                        <h4>Libros</h4>
                        <p style="height: 48px;">Ficción, Didácticos, Infantiles, Otros</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-laptop-phone"></span>
                    </div>
                    <div class="desc">
                        <h4>Tecnología</h4>
                        <p style="height: 48px;">Computación, Electrónica, Accesorios</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-paw"></span>
                    </div>
                    <div class="desc">
                        <h4>Mascotas</h4>
                        <p style="height: 48px;">Artículos para mascotas</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-bicycle"></span>
                    </div>
                    <div class="desc">
                        <h4>Deportes</h4>
                        <p style="height: 48px;">Deportes y aire libre.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-smile"></span>
                    </div>
                    <div class="desc">
                        <h4>Otros</h4>
                        <p style="height: 48px;"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


