    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
      
            <div class="col-sm-8 col-md-8 col-lg-9 mtb_30">
                <!-- about  -->
                <div class="row ">
                    <div class="col-md-12">
                        <div class="about-text">
                            <div class="about-heading-wrap">
                                <h2 class="about-heading mb_20 mt_40 ptb_10">¿Qué es <span>OneUse</span>?</h2>
                            </div>
                            <p>OneUse es una plataforma web que nos permite sacar provecho de aquellos objetos que no
                                usamos y tenemos en nuestras casas ociosamente, alquilandolo a otras personas que
                                precisen de dicho objeto mediante una transaccion segura y confiable!
                                A través de OneUse, no sólo podrás ahorrar el dinero al no comprar,
                                sino que podrás sacar partido a tus objetos, evitando así el consumo excesivo y
                                los desplazamientos innecesarios
                            </p>
                        </div>
                    </div>
                </div>
                <!-- =====  product ===== -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading-part mb_20 mt_40">
                            <h2 class="main_title">Que herramientas utilizamos?</h2>
                        </div>

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default pull-left">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseOne">Herramienta1</a> </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Chamuyo Herramienta1</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default pull-left">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseTwo">Herramienta2</a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Chamuyo Herramienta2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default pull-left">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseThree">Herramienta3</a> </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Chamuyo Herramienta3</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default pull-left">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseTwo">Herramienta4</a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Chamuyo Herramienta4</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default pull-left">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseTwo">Herramienta5</a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Chamuyo Herramienta5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default pull-left">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseTwo">Herramienta6</a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Chamuyo Herramienta6</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading-part mb_20 mt_40 ">
                            <h2 class="main_title">Nuestros Valores</h2>
                        </div>
                        <div id="p_line">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 100%;"> <span class="sr-only">100% Complete</span>
                                </div>
                                <span class="progress-type">Creatividad</span>
                            </div>

                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only">40%
                                        Complete (success)</span> </div>
                                <span class="progress-type">Transparencia</span>
                            </div>
                            
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only">20%
                                        Complete (info)</span> </div>
                                <span class="progress-type">Honestidad</span> 
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only">60%
                                        Complete (warning)</span> </div>
                                <span class="progress-type">Responsabilidad Social</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only">80%
                                        Complete (danger)</span> </div>
                                <span class="progress-type">Pasión</span>
                            </div>
                            <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only">60%
                                            Complete (warning)</span> </div>
                                    <span class="progress-type">Excelencia</span>
                            </div>
                            <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                                            aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only">60%
                                                Complete (warning)</span> </div>
                                        <span class="progress-type">Seguridad</span>
                            </div>
                            <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only">60%
                                            Complete (warning)</span> </div>
                                    <span class="progress-type">Respeto</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =====  end  ===== -->
                <!--Team Carousel -->
                <div class="heading-part">
                    <h2 class="main_title mt_50">Nuestros Profesionales</h2>
                </div>
                <div class="team_grid box">
                    <div class="team3col  owl-carousel">
                        <div class="item team-detail">
                            <div class="team-item-img"><img src="../../../assets/images/danilo.jpg"/></div>
                            <div class="team-designation mt_20">Full Stack Developer</div>
                            <h4 class="team-title  mtb_10">Danilo Lucena </h4>
                            <p>
                                Muy comprometido, con sentido de pertenencia, creativo y con actitud positiva..
                            </p>
                            <ul class="social mt_20 mb_80">
                                <li><a href="https://www.facebook.com/" target="_blank"><i
                                            class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="https://www.instagra,.com/" target="_blank"><i
                                    class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="item team-detail">
                            <div class="team-item-img"> <img src="images/tm2.jpg" alt="" /> </div>
                            <div class="team-designation mt_20">Full Stack Developer</div>
                            <h4 class="team-title  mtb_10">Juan Van Heerden</h4>
                            <p>Lorem ipsum dolor sit amet, sea in odio erat, volumu Clita prodesset Rem ipsum dolor s..
                            </p>
                            <ul class="social mt_20 mb_80">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="https://www.instagra,.com/" target="_blank"><i
                                        class="fa fa-instagram"></i></a></li>
                                </ul>
                        </div>
                        <div class="item team-detail">
                            <div class="team-item-img"> <img src="images/tm3.jpg" alt="" /> </div>
                            <div class="team-designation mt_20">DB Developer</div>
                            <h4 class="team-title  mtb_10">Melina Bellotti </h4>
                            <p>Lorem ipsum dolor sit amet, sea in odio erat, volumu Clita prodesset Rem ipsum dolor s..
                            </p>
                            <ul class="social mt_20 mb_80">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="https://www.instagra,.com/" target="_blank"><i
                                        class="fa fa-instagram"></i></a></li>
                                </ul>
                        </div>
                        <div class="item team-detail">
                            <div class="team-item-img"> <img src="images/tm4.jpg" alt="" /> </div>
                            <div class="team-designation mt_20">Back End Developer</div>
                            <h4 class="team-title  mtb_10">Federico Belleli </h4>
                            <p>Lorem ipsum dolor sit amet, sea in odio erat, volumu Clita prodesset Rem ipsum dolor s..
                            </p>
                            <ul class="social mt_20 mb_80">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="https://www.instagra,.com/" target="_blank"><i
                                        class="fa fa-instagram"></i></a></li>
                                </ul>
                        </div>
                        <div class="item team-detail">
                            <div class="team-item-img"> <img src="images/tm5.jpg" alt="" /> </div>
                            <div class="team-designation mt_20">Front End Developer</div>
                            <h4 class="team-title  mtb_10">Rocio Morales </h4>
                            <p>Lorem ipsum dolor sit amet, sea in odio erat, volumu Clita prodesset Rem ipsum dolor s..
                            </p>
                            <ul class="social mt_20 mb_80">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="https://www.instagra,.com/" target="_blank"><i
                                        class="fa fa-instagram"></i></a></li>
                                </ul>
                        </div>
                    </div>
                    <!--End Team Carousel -->
                </div>
            </div>
        </div>
    

    <!-- =====  CONTAINER END  ===== -->

    <!-- Mirrored from html.lionode.com/cools/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 May 2019 20:46:41 GMT -->