<form action="/signup" method="POST">

<input type='email' name="email" placeholder= "Prueba de login 1useid">
<input type='password' name="password" placeholder= "Aca la contraseña">

 <button type= "submit">

     REGISTRAR

</button>


</form>