<section fxLayout="row" class="container-general" fxFlexFill>
    <!-- Sección de filtros -->
    <section fxFlex="28%">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="mat-elevation-z8 contenedor-filtros">
            <div>
                <p>Subcategorias</p>
            </div>

            <div>
                <p>Subcategorias</p>
            </div>

            <div>
                <p>Subcategorias</p>
            </div>
        </div>
    </section>

    <!-- Sección de publicaciones -->
    <section fxFlex="72%" class="mat-elevation-z8 contenedor-publicaciones">
        <div>
            <!--<mat-grid-list cols="4" rowHeight="367px" gutterSize="20px">
                <mat-grid-tile [colspan]=1 [rowspan]=1>

                </mat-grid-tile>
            </mat-grid-list> -->
        </div>

        <div>
            <p>Subcategorias</p>
        </div>

        <div>
            <p>Subcategorias</p>
        </div>
    </section>
</section>