.input-xl{
    width: 400px;
}

.buscador-lt-md{
    margin-left: 30px;
}

.buscador-md{
    margin-left: 30px;
}

.mat-form-field-infix{
    width: 100%;
}

.mat-input-element, .mat-toolbar {
    color: white !important;
}